// Colors
$primaryColor: #ffd700;
$secondaryColor: #4169e1;
$backgroundColor: #333333;
$textColor: #d3d3d3;
$accentColor: #e74c3c;

// Fonts
$headerFont: 'Monserrat', sans-serif;
$bodyFont: 'Roboto', sans-serif;
